@charset "UTF-8";

body{
    font-feature-settings: "palt";
    font-family: 'Noto Sans JP';
}

h2{
    font-size: 36px;
    letter-spacing: 0.04em;
}

p{
    font-size: 14px;
    line-height: 1.75em;
    letter-spacing: 0.04em;
}

#slider{
}

#img3{
    border-top: 1px;
}
